.test {
  max-width: 20em;
  padding: 2em;
  margin: 2em auto 0;
  font: 100%/1.5 sans-serif;
}
div.container {
  min-height: 100vh;
}
div.bg {
  background: url('stone-art.jpg');
  min-height: 30vh;
}
div.divTest {
  border: 10px solid hsla(0,0%,100%,.5);
  background: white;
  background-clip: padding-box; /*Using this to not extend your background underneath the
  border*/
}
