/* animation */
@keyframes spin {
  to {
    transform: rotate(.5turn);
  }
}
@keyframes bg {
  50% {
    background: #655;
  }
}
/* declaration */
.pie {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: yellowgreen;
  background-image: linear-gradient(to right,transparent 50%,#655 0);
}
.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  background-color: inherit;
  border-radius: 0 100% 100% 0 / 50%;
  transform-origin: 0 50%;
  animation: spin 4s linear,bg 6s step-end;
}
.pie2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: yellowgreen;
  background-image: linear-gradient(to right,transparent 50%,#655 0);
}
.pie2::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  background: #655;
  border-radius: 0 100% 100% 0 / 50%;
  transform-origin: 0 50%;
  transform: rotate(.2turn);
}
