.test {
  max-width: 20em;
  padding: 2em;
  margin: 2em auto 0;
  font: 100%/1.5 sans-serif;
}
div.container {
  background: yellowgreen;
  min-height: 100vh;
}
div.divTest {
  background: darkred;
  box-shadow: 0 0 0 10px #655,
  0 0 0 15px deeppink, /*You can create multiple borders when you add many box-shadow but
  you can't change the style*/
  0 2px 5px 15px rgba(0,0,0,.6);
}
div.divTest2 {
  background: darkred;
  border: 10px solid #655;
  outline: 15px dashed deeppink; /*Outline can create only 2 border but you can change the
  style of the border*/
}
