.test {
  max-width: 20em;
  padding: 2em;
  margin: 2em auto 0;
  font: 100%/1.5 sans-serif;
}
.container {
  min-height: 100vh;
}
div.divTest {
background: tan;
border-radius: .8em;
outline: .6em solid #655; /*This create a second border above our div and don't take the
style of the div*/
box-shadow: 0 0 0 .5em #655; /*This alow to fill the gap in the corner of our div to create
a border sharp and a container rounded*/
}
